/*Background colors for various things.*/
body {
  background-color: #212227;
}
.accordion-body {
  background-color: #c9c5bd;
}

/*Change the color of the default accordion buttons to match my color theme*/
.accordion-button:focus {
  color: #e4d1ad;
  box-shadow: 0 0 0 0.25rem #908c96;
}
.accordion-button:not(.collapsed) {
  color: #e4d1ad;
  background-color: #7b6d8d;
}
.accordion-button {
  color: #e4d1ad;
  background-color: #000000;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e4d1ad'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e4d1ad'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*Change button colors to match my color theme*/
.btn {
  color: #e4d1ad;
  background-color: #212227;
  border-color: white;
}
.btn:hover {
  color: #212227;
  background-color: #e4d1ad;
  border-color: black;
}

/*Image resizing for adjustment preferences*/
#cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 400px;
}
#reu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: 400px;
}
#mypic {
  display: block;
  margin: 10px auto 10px auto;
  border-radius: 50px;
  width: 50%;
}
#sticker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Fonts and background colors specifically for the cards.*/
.work,
.projects,
.aboutme,
#contact {
  color: #212227;
  font-family: monospace;
  font-size: 16px;
}
#aboutme,
.card,
#contact {
  background: linear-gradient(0deg, #e4d1ad 10%, #7b6d8d 100%);
  border-width: 0;
}
#aboutme h2 {
  color: #27282e;
}

/*Media query for preferences in sizing when page is smaller*/
@media (min-width: 768px) {
  #contact {
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50px;
  }
  #mypic {
    border-radius: 50px;
    width: 100%;
  }
  #cat {
    width: 100%;
  }
  #reu {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    max-width: 300px;
    height: 300px;
  }
  #sticker {
    width: 100%;
  }
}

/*Navigation bar preferences to fit my color theme*/
.navbar {
  background-color: #7b6d8d;
}
.navbar-brand {
  color: #27282e;
  font-size: 32px;
  font-family: monospace;
  font-weight: bold;
}
.navbar-brand:hover {
  color: rgb(224, 221, 228);
}
.nav-link {
  margin-right: 5px;
  color: #27282e;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(224, 221, 228);
}
