body {
  background-color: rgb(112, 224, 224);
}

.name {
  color: #353232;
  padding: 5px 5px 5px 5px;
  font-size: 32px;
  text-align: right;
  text-shadow: 2px 2px 5px #e6cc3a;
  font-weight: bold;
  margin-right: 10px;
}
.navbar {
  background-color: #98d7eb;
}

#cat {
  height: 300px;
}

#reu {
  height: 280px;
}

.navbar-brand {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: rgb(224, 206, 100);
  font-size: 28px;
  font-weight: bold;
}
.nav-item {
  padding: 0px 5px 0px 5px;
}
.nav-link {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: rgb(224, 206, 100);
  font-size: 18px;
  font-weight: bold;
}
