body {
  background-color: #212227;
}

#cat {
  height: 300px;
}

#reu {
  height: 280px;
}

#mypic {
  display: block;
  margin: 10px auto 10px auto;
  border-radius: 50px;
  width: 50%;
}

#aboutme {
  background: linear-gradient(0deg, #e4d1ad 10%, #7b6d8d 100%);
  border-width: 0;
  font-family: monospace;
  font-size: 16px;
}

#aboutme h2 {
  color: #27282e;
  text-shadow: 1px 1px 3px #e4d1ad;
}

@media (min-width: 768px) {
  #aboutme {
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 50px;
  }
  #mypic {
    border-radius: 50px;
    width: 100%;
  }
}

.navbar {
  background-color: #7b6d8d;
}

.navbar-brand {
  color: #27282e;
  font-size: 30px;
  text-shadow: 1px 1px 3px #e4d1ad;
  font-family: monospace;
  font-weight: bold;
}

.navbar-brand:hover {
  color: rgb(224, 221, 228);
}

.nav-link {
  color: #27282e;
  font-size: 14px;
  text-shadow: 1px 1px 3px #e4d1ad;
  font-family: monospace;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(224, 221, 228);
  font-size: 14px;
}
